@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #D3D3D3;
}

main{
    border-radius: 5px;
    background-color: #B1A7A6;
    width: min(90%, 630px);
    margin: 50px auto;
    padding: 10px 20px;
}

header{
    text-align: center;
    padding: 15px 0;
    color: #0B090A;
}

label{
    font-size: 1.2em;
    font-weight: bold;
    color: #161A1D;
}

input{
    border: 1px solid #161A1D;
    background-color: #F5F3F4;
    width: 100%;
    margin: 3px 0 15px;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
}

button{
    width: 40%;
    display: block;
    margin: 0 auto 15px;
    padding: 2px 0;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #292f34ac;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: #F5F3F4;
    color: #0B090A;
}

input:focus{
    outline: 0;
    box-shadow: 0 0 2px #0B090A;
}